@import '../variable.scss';

.author-div {
  text-align: center;
  padding: 1rem;
  // background: linear-gradient(to bottom, #330200, #001419);
  // border: 1px solid $black;
}
.author-div div {
  margin-bottom: 1rem;
}
.author-introduction {
  font-size: 0.8rem;
  color: $red;
}
.account {
  margin-right: 10px;
}
.author-divide span {
  color: $black;
}
.author-avatar:hover {
  transform: rotate(666turn);
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(0.34, 0, 0.84, 1);
  transition-delay: 1s;
}
.author-social {
  cursor: pointer;
}
