.ant-anchor-wrapper {
  height: calc(100vh - 150px) !important;
}

@media screen and (max-width: 992px) {
  .ant-anchor-wrapper {
    height: calc(100vh - 30px) !important;
  }
  .ant-drawer-body {
    padding: 0 5px;
  }
}
