@import '../variable.less';

.main-container {
  color: @black;
  margin: 0 auto;
  padding: 40px 15px;
  max-width: 1200px;
  width: 100%;
  display: flex;
}

.main-content {
  width: 74%;
}

.aside-content {
  width: 26%;
  padding-left: 15px
}