@import '../variable.scss';

.project-div {
  text-align: center;
  padding: 0.1rem;
  // background: linear-gradient(to bottom, #330200, #001419);
  // border: 1px solid $cyber02;
}
.project-item {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}
.project-item:last-child {
  margin-bottom: 0;
}
.projec-txt {
  margin-left: 5px;
}
.project-title {
  font-size: 0.16rem;
  color: $black;
  padding: 0;
  margin: 0;
}
.project-descr {
  font-size: 0.14rem;
  color: $cyber01;
  padding: 0;
  margin: 0;
}
