.article-wrap {
  height: 90%;
}
.article-item {
  margin-bottom: 10px;
}
.article-title {
  display: flex;
  align-items: center;
}
.article-content {
  height: 80%;
}
.article-editor {
  display: flex;
  height: 100%;
  .article-md {
    overflow: auto;
  }
  .markdown-content {
    width: 50%;
    height: 100%;
    border: 1px solid #c5c3c3;
    padding: 10px;
    background: #fff;
    overflow: auto;
    img {
      max-width: 100%;
    }
  }
  .markdown-preview {
    text-align: center;
    cursor: pointer;
    height: 40px;
    width: 24px;
    writing-mode: vertical-lr;
  }
}
.article-label {
  margin-bottom: 0;
  margin-right: 20px;
  &.article-request::after {
    content: '*';
    color: red;
    margin-left: 2px;
  }
}
.article-btn {
  text-align: right;
  padding-bottom: 20px;
}
.article-preview {
  padding-bottom: 20px;
  display: flex;
  .preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
}
