@import './variable.scss';

html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  font-size: 625%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-background {
  background-image: url(/static/images/bg-1.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.comm-main {
  margin-top: 100px;
}
.comm-left {
  border-radius: 4px;
  height: 100%;
}
.comm-center {
  margin: 0 10px;
  padding: 0 10px;
}
.comm-center-bg {
  background: $gray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
}
.comm-center-content {
  position: relative;
}
.comm-right {
  height: 100%;
}
.comm-box {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 4px;
  margin-bottom: 20px;
}

.ant-breadcrumb a {
  color: $black;
}
.ant-breadcrumb-link a:hover {
  color: $origin;
}

.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: $red;
  z-index: 100;
  width: 50%;
}
