.article-cover {
  background-image: url(/static/images/bg-1.jpg);
  background-size: cover;
  background-repeat: repeat;
  height: 500px;
  display: flex;
  align-items: center;
  .detail-row {
    width: 100%;
  }
  .title {
    color: #fff;
    font-size: 3rem;
    text-align: right;
    font-family: cursive;
    text-shadow: 0px 0px 0 #3d3636, 1px -1px 0 #414040, 2px -2px 0 #414040, 3px -3px 0 #414040, 4px -4px 0 #414040, 5px -5px 0 #414040,
      6px -6px 0 #414040, 7px -7px 12px rgba(36, 35, 35, 0.55), 7px -7px 1px rgba(68, 68, 68, 0.5);
  }
}

.detailed-container {
  .comm-main {
    margin-top: 0;
    padding-top: 10px;
    background-image: url(/static/images/bg-2.jpg);
  }
  .comm-center {
    margin-top: -150px;
  }
}
