@import '../variable.less';

.detailed-container {

  .detailed-cover {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: @white;

    .detailed-title {
      font-size: 30px;
    }

    .detailed-meta-separator {
      margin: 0 6px;
    }

    .detailed-meta-tag {
      margin-left: 4px;
    }
  }

  .markdown-content {
    padding: 20px;
    font-size: 16px;
    pre {
      display: block;
      background-color: #283646 !important;
      padding: 10px !important;
      overflow-y: auto;
      font-weight: 300;
      font-family: Menlo, monospace;
      border-radius: 4px;
    }
    pre > code {
      border: 0px !important;
      background-color: #283646 !important;
      color: #fff;
    }
    code {
      display: inline-block;
      background-color: #f3f3f3;
      border: 1px solid #fdb9cc;
      border-radius: 3px;
      font-size: 14px;
      padding-left: 5px;
      padding-right: 5px;
      color: #4f4f4f;
      margin: 0px 3px;
    }
    img {
      max-width: 100%;
      border-radius: 5px;
      border: 1px solid #f0f0f0;
      display: block;
    }
    a {
      word-break: break-all;
    }
  }

}

.is-mobile {
  .detailed-container {
    .detailed-cover {
      height: 360px;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 0 0 20px 20px;
    }
    .markdown-content {
      padding: 20px 10px;
    }
  }
}